@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  background-image: url(bg.gif);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form h2 {
  text-align: center;
  color: white;
}

.login-form input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form button {
  width: 100%;
  padding: 10px;
  background-color: #c00d0d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Animation styles */

.login-form {
  animation: slideInDown 0.5s;
}

@keyframes slideInDown {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

/* Responsive styles */

@media (max-width: 768px) {
  .login-form {
    width: 100%;
  }
}
